<div id="createBlock">
    <p><b>Добавление книги</b></p>
    <table>
        <tr><td><label>Название: </label></td><td><input type="text" id="addName" ng-model="name" /></td></tr>
        <tr><td><label>Автор: </label></td><td><input type="text" id="addAuthor" ng-model="author" /></td></tr>
        <tr><td><label>Альбом: </label></td><td><input type="text" id="addAlbum" ng-model="album" /></td></tr>
        <tr><td><label>Год: </label></td><td><input type="number" id="addYear" ng-model="year"/></td></tr>
        <tr><td><label>Жанр: </label></td><td><input type="text" id="addGenre" ng-model="genre" /></td></tr>
    </table>
    <button id="addBook">Сохранить</button>
</div>
@section scripts
{
<script type="text/javascript>
     
</script>
}
