@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Список покупателей</h3>
    <table>
        <tr class=" = header">
            <td><p>Покупатель</p></td>
            <td><p>Адрес</p></td>
            <td><p>Дата</p></td>
        </tr>
        @foreach (var p in ViewBag.Purchases)
        {
            <tr>
                <td><p>@p.Person</p></td>
                <td><p>@p.Address</p></td>
                <td><p>@p.Date</p></td>
            </tr>
        }
    </table>
</div>